<!-- <div class="d-flex"> -->
<!-- <div class="col-lg-6"> -->
<input class="form-control" [(ngModel)]="searchTerm" placeholder="Search" />
<div class="container">
  <h2>Parent Users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>City</th>
        <th>Date</th>
        <th>Salary</th>
        <th>Variable</th>
        <th>Test</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | search: searchTerm">
        <td>
          <!-- <a [routerLink]="['/user', user.id]" routerLinkActive>{{ user.name }}</a> -->
          <button class="btn btn-small" (click)="getToUser(user)">
            {{ user.name | uppercase }}
          </button>
        </td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email | lowercase }}</td>
        <td>{{ user.address?.city }}</td>
        <td>{{ today | date: "dd-MMM-yyyy" }}</td>
        <!-- <td>{{ salary | currency: "INR" }}</td> -->
        <td>{{ salary | number: "4.2-3" }}</td>
        <td>{{ variable | percent }}</td>
        <td>{{ test | customTileCase }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </div> -->
<!-- <div class="col-lg-6"> -->
<app-user></app-user>
<!-- </div> -->
<!-- </div> -->
