<!-- <div class="m-5"> -->
<app-header></app-header>

<!-- <app-binding></app-binding> -->

<!-- <app-directives></app-directives> -->
<!-- <app-communication></app-communication> -->
<!-- <app-content-projection></app-content-projection> -->
<!-- <app-forms></app-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-users></app-users> -->
<!-- <app-observable-examples></app-observable-examples> -->
<!-- <app-subject></app-subject> -->
<div class="bg-white m-5">
  <router-outlet></router-outlet>
</div>
<!-- </div> -->
