<div class="d-flex">
  <div class="w-25 mr-5">
    <app-cp-child [colors]="clrs">
      <h1 class="header" #head>Colors</h1>
      <a href="#" id="footer" #foot>see more..</a>
    </app-cp-child>
  </div>
  <div class="w-25 mr-5">
    <app-cp-child [colors]="cities">
      <h1 class="header" #head>Cities</h1>
      <a href="#" id="footer" #foot>explore..</a>
    </app-cp-child>
  </div>

  <div class="w-25">
    <app-cp-child [colors]="cuisines">
      <h1 class="header" #head>Cusines</h1>
      <a href="#" id="footer" #foot>see more..</a>
    </app-cp-child>
  </div>
</div>
